@use "sass:color";

@use "bootstrap/dist/css/bootstrap.min.css";


@use "vendors/font-awesome.scss";
@use "./themes/responsive";

// react-quill-new
@use 'react-quill-new/dist/quill.snow.css';

@use "style.scss";